body{ 
  background-color: #282c34;
}


.game-area{
	width: 100%;
	height: 100%;

	transition: all .3s ease-in-out;

}

.blurred {
	filter: blur(5px);
}

.App {
  
  /* make the app the whole screen */
  height: 800px;
  text-align: center;
  /* darkmode text */
  color: #fff;
  /* shadow on text */
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.find-game-popup{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
  height: 500px;
  background-color: #3a404b;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  color: #ffff;
  text-shadow: none;
  opacity: 100;
  transition: all 0.3s ease-in-out;
  z-index: 1000;

  &.hide{
	opacity: 0;
  }
  

}



.server-list{
	width:100%;
	height:100%;
	background-color:#282c34;
	position:relative;
	overflow-y:scroll;
	overflow-x:hidden;
	opacity: 1;
	&::-webkit-scrollbar{
		width:10px;
		background-color:rgba(0, 0, 0, 0.3);
	}
	&::-webkit-scrollbar-thumb{
		background-color:rgba(0, 0, 0, .5);
		border-radius:10px;
	}
	&.hide {
		opacity: 0;
		visibility: hidden;
		height : 0%;
	}

	transition: all .3s ease-in-out;

}

.server-list-item{
	width:95%;
	height:100px;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:20px;
	color: white;
	cursor:pointer;
	transition:all .3s ease-in-out;
	&:not(:last-child){
		margin-bottom:10px;
	}
	/* bottom border */
	&:after{
		content:'';
		width:100%;
		height:1px;
		background-color:rgba(255, 255, 255, .1);
		position:absolute;
		bottom:0;
		left:0;
	}


}

.server-name{
	padding: 20px;
	position:absolute;
	left:0;
}


.server-players{
	padding: 20px;
	position:absolute;
	right:0;
}

.locked-true{
	padding: 20px;
	position: absolute;
	left: 100%;
	background-image: url('../public/assets/lock.png');
	/* background image */
	background-repeat: no-repeat;
	background-size: 30%;
}

.locked-false{
	visibility: hidden;
}

.find-game-popup-lower{
	width:100%;
	height:10%;
	padding-top: 1%;
	background-color:#1d2128c3;
	position:relative;

	/* inputs inside of this class */
	.find-game-inputs{
		background-color:transparent;
		border:none;
		outline:none;
		color:white;
		font-size:10px;
		padding:0 20px;
		&::placeholder{
			color:rgba(255, 255, 255, .5);
		}
	}

	.find-game-buttons{
		background-color:transparent;
		border:none;
		outline:none;
		color:white;
		font-size:10px;
		padding:0 20px;
		&::placeholder{
			color:rgba(255, 255, 255, .5);
		}
	}

}

.create-new-game-menu{
	&.show{
		opacity: 1;
		height:100%;
		width:100%;
		visibility: visible;
		
		display:flex;
		align-items:center;
		text-align:left;
		flex-direction:column;

	}
	&.hide{
		opacity: 0;
		visibility: hidden;
		width:0%;
		height:0%;
	}

	.server-name-new, .server-password, .server-starting-buy-in, .server-big-blind{
		width: 80%;
		height: 10%;
		background-color: #1d2128c3;
		padding: 20px;
	}

	.create-game-label{
		color: white;
		font-size: 20px;
		padding: 20px;
	}

	.server-create-buttons{
		display:flex;
		flex-direction:row;
		width: 90%;
		height: 20%;
		/* lign items center */
		align-items:center;		
		/* justify content space between */
	}

	#server-create-button,#go-back-create-game-button{
		margin: 4px;
		color: white;
		font-size: 20px;
		padding: 10px;
		background-color: #1d2128c3;
		border: none;
		outline: none;
		cursor: pointer;

	}



}

#server-name-new, #server-password, #server-starting-buy-in, #server-big-blind{
	background-color: darkgray;
	height:25px;
	width: 30%;
	color:white;
	font-size:17px;
	&::placeholder{
		color:rgba(255, 255, 255, .5);
	}

}


.Table{
	width:1000px;
	height:350px;
	background-color:#4aad4a;
	position:absolute;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	border-radius:150px;
	position:relative;
	border:15px solid #a95555;
	&:before{
		content:'';
		border:7px solid rgba(0, 0, 0, .1);
		display:block;
		width:1015px;
		height:365px;
		border-radius:150px;
		position:absolute;
		top:-15px;
		left:-15px;
	}
	&:after{
		content:'';
		border:7px solid rgba(0, 0, 0, .1);
		display:block;
		width:985px;
		height:335px;
		border-radius:130px;
		position:absolute;
		top:0;
		left:0;
	}
	.card-place{
		border:5px solid #63c763;
		height:100px;
		width:340px;
		position:absolute;
		border-radius:10px;
		padding:10px;
		top:50%;
		left:50%;
		transform:translateX(-50%) translateY(-50%);
		box-sizing:border-box;
		.card:not(:last-child){
			margin-right:15px;
		}
	}
}

.players{
	position:relative;
	width:100%;
	height:100%;
	z-index:100;
	.player{
		position:absolute;


    .player-chat{
      /* player chat bubble */
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%) translateY(-30%);
      width: 100px;
      height: 50px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #000;
      text-shadow: none;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: 100;
      &.show{
        opacity: 1;
      }


      
    }
      

		.avatar{
			width:120px;
			height:120px;
			background-color:lightcoral;
			border-radius:100%;
			position:relative;
			box-shadow: 2px 10px 0px rgba(0, 0, 0, .4);
			z-index:20;
			&:after{
				content:'';
				width:70px;
				height:70px;
				position:absolute;
				background-color:rgba(0, 0, 0, .1);
				top:50%;
				left:50%;
				transform:translatex(-50%) translatey(-50%);
				border-radius:100%;
				box-shadow:0px 5px 0px rgba(0, 0, 0, .2)
			}
		}
		.name{
			font-family:"Houschka Rounded";
			text-align:center;
			width:100px;
			color:#96e296;
			padding:5px 0;
			margin-left:10px;
			box-sizing:border-box;
			border:2px solid #96e296;
			border-radius:5px;
			margin-top:15px;
			text-overflow:ellipsis;
			font-size:11px;
			overflow:hidden;
			position:relative;
		}
		&.playing:before{
			content:'...';
			color:white;
			font-size:20px;
			position:absolute;
			background-color:#76daff;
			display:inline-block;
			line-height:0px;
			height:10px;
			padding:5px 10px;
			border-radius:5px;
			z-index:100;
		}

    &.folded{
      .avatar{
        background-color:rgba(0, 0, 0, .2);
        &:after{
          background-color:rgba(0, 0, 0, .2);
        }
        transition: all 0.3s ease-in-out;

      }
      .bank-value{
        visibility: hidden;
        transition: all 0.3s ease-in-out;

      }
      .mise-value{
        visibility: hidden;
        transition: all 0.3s ease-in-out;

      }
      .name{
        visibility: hidden;
        transition: all 0.3s ease-in-out;

      }
      .player-cards{
        transform: translateY(-100px);
        transition: all 0.3s ease-in-out;
      }

    }

		&.player-1{
			top:300px;
			left:50%;
			transform:translatex(-50%) translatey(-50%);
		}
		&.player-2{
			bottom:260px;
			left:50%;
			transform:translatex(-50%) translatey(50%) rotatez(180deg);
			.name{
				transform:rotatez(180deg);
			}
			.bank-value{
				transform:rotatez(180deg);
			}
			.mise-value{
				transform:rotatez(180deg);
			}
		}
		&.player-3{
			top:50%;
			left:90%;	
			transform:translatex(-50%) translatey(-50%) rotatez(-90deg);
			.name{
				transform:rotatez(0deg);
			}
		}
		&.player-4{
			top:50%;
			right:90%;	
			transform:translatex(50%) translatey(-50%) rotatez(90deg);
			.name{
				transform:rotatez(0deg);
			}
		}
		&.player-5{
			top:300px;
			left:30%;
			transform:translatex(-50%) translatey(-50%);
		}
		&.player-6{
			bottom:260px;
			left:70%;
			transform:translatex(-50%) translatey(50%) rotatez(180deg);
			.name{
				transform:rotatez(180deg);
			}
			.bank-value{
				transform:rotatez(180deg);
			}
			.mise-value{
				transform:rotatez(180deg);
			}
		}
		&.player-7{
			top:300px;
			left:70%;
			transform:translatex(-50%) translatey(-50%);
		}
		&.player-8{
			bottom:260px;
			left:30%;
			transform:translatex(-50%) translatey(50%) rotatez(180deg);
			.name{
				transform:rotatez(180deg);
			}
			.bank-value{
				transform:rotatez(180deg);
			}
			.mise-value{
				transform:rotatez(180deg);
			}
		}
	}
}


.buttons {

  display: flex;
  position: absolute;
  top: 95%;

}

.card-place{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .inCardPlace{
    position: relative;
  }
  transition: all 0.3s ease-in-out;
}

.card {
  padding: ;
  position: absolute;
  width: 43px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, .2);
  z-index: 10;
  transition: all .3s ease-in-out;

}

.cardTextTop {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px 0 0 0;
}

.cardDesign{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cardTextBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 0 5px 0 0;
}

/* design playing cards */

.player-cards{
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  width: 40px;

  /* move second child to right 10 px */
  & > :nth-child(2){
    margin-left: 10px;
    /* rotate 10 degrees */
    transform: rotate(10deg);
  }
  

}

.noflip{
  /* image of the back of the card . image is in public/cards/cardBackBlue.png*/
  background-image: url("../public/cards/cardBackBlue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* make image slightly larger than card so it covers the card */

}

.blackCard {
  
    color: black;
}

.redCard {
    
      color: red;
}

.spades {
  background-image: url("../public/cards/spades.png");
  /* downsize image to fit in div */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.hearts {
  background-image: url("../public/cards/hearts.png");
  /* downsize image to fit in div */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.clubs {
  background-image: url("../public/cards/clubs.png");
  /* downsize image to fit in div */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.diamonds {
  background-image: url("../public/cards/diamonds.png");
  /* downsize image to fit in div */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}